.UI_btn {
    display: block;
    margin: auto;
    flex-direction: column;
    background: #DE8344ff;
    color: white;
    font-family: Impact;
    font-size: 110%;
    height: 50px;
    width: 500px;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: ease-out 0.3s;

}
.UI_btn:hover {
    background: #C7DD06ff;
    color: #222E05ff;
}
.funcs {
    background: #566CA6ff;
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 3vw;
    border-radius: 30px;
}
