
body {
    margin: 0;
    padding: 0;
    background: #4A5116ff;
    color: #C7DD06ff;
    font-family: Georgia;
}

a:link {
    color:#C7DD06ff;
}

a:visited {
    color: #5EBB55ff;
}

.navbar {
    background-color: #1D2606ff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    padding: 15px;
    display: block; 
    text-align: center;
}

main {
    margin: 20;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto; 
    border-radius: 30px;
}


.margpad {
    background: #222E05ff;
    margin: 3vw;
    padding: 3vw;
}



.header__button {
    width: var(--header-height);
    flex-shrink: 0;
    font-size: large;
    background: none; 
    outline: none;
    border: none;
    color: #C7DD06ff;
    cursor: pointer;

}
.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #1D2606ff;
    transform: translateX(-250px);
    transition: ease-in 0.2s;

}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0,0, 0.2);
}
.nav__link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
}

.nav__link > i {
    margin-right: 15px;
}

.nav__link--active,
.nav__link:hover {
    color: #1D2606ff;
    background: #C7DD06ff;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0,0, 0.5);
    backdrop-filter: blue(2px);
    visibility: hidden;
    opacity: 0;
}

.nav--open .nav__overlay{
    visibility: visible;
    opacity: 1;
}